name: "Neurocode Scan"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  neurocode:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'microsoft'
          java-version: '17'

      - name: Run Neurcode Guard
        uses: sujit-jaunjal/neurcode-actions/packages/action@main
        with:
          api_key: ${{ secrets.NEURCODE_API_KEY }}
          fail_on_violation: true
